.clearfix::after{
    content: "";
    clear:both;
    display: table;
}
.site-wrapper {
    width: 1500px;
    margin: 0 auto;
}
header .header-inner{
    background: aqua;
    font-size: 32px;
    text-align: center;
    padding: 30px 0;
}
header .main-navigation .main-menu{
    list-style: none;
    background: #ff2fc3;
    padding: 0;
    margin: 0;
}
.main-navigation .main-menu li{
    background: brown;
    float: left;
}
.main-navigation .main-menu li a{
    color: #ffe7ef;
    font-size: 20px;
    display: block;
    background: #91ff88;
    text-decoration: none;
    padding: 10px 20px;
}
.main-navigation .main-menu  li a:hover{
    background: tomato;

}